.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 625px;
    margin: 1em 0;
    background-color: #25273C;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 595px;
    padding: 1em;
    border-radius: 1px;
    border-bottom: 1px solid rgba(200, 200, 200, .1);
    cursor: grab;
    transition: .2s ease-in-out;
    background-color: #25273C;
}

.task:hover {
    background-color: #555770;
}

.task-title {
    color: #c9cbe2;
    font-family: 'Josefin Sans',
        sans-serif;
    font-size: 24px;
}

.task-img {
    position: absolute;
    top: 32%;
}

.task-img-container {
    margin: 0 .5em;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.text {
    color: #c9cbe2;
    font-family: 'Josefin Sans',
        sans-serif;
    font-size: 24px;
}

.tasks-settings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: .5em;
}

.settings-text {
    color: #555770;
    font-family: 'Josefin Sans',
        sans-serif;
    font-size: 18px;
}

.settings-options {
    display: flex;
    align-items: center;
}

.settings-options p {
    margin: 0 .4em;
    color: #555770;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.settings-options p:hover {
    color: #fff;
}

.settings-clear {
    color: #555770;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.settings-clear:hover {
    color: #fff;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-delete {
    cursor: pointer;
}
.selected {
    color: hsl(235, 100%, 68%) !important;
}